.movieCard {
    min-height: 550px!important;

    margin-bottom: 15px;
    figure{
        position: relative;
        overflow: hidden;
        text-overflow: hidden;
        white-space: nowrap;
    }
}

.link-bottom {
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.movieCard img {
    height: auto;
    max-width: 300px;
    display:flex;
    margin: 0 auto
}
