$color: #efe6d5;
$color2: #9dbeb7;
$color3: #e73213;

.registration {
    padding-top: 50px;   
 }

.login-signup {
     width: 30%;
}
.btn {
    border-radius: 30px!important;
}
  #round-form{
    border-radius: 30px;
  }