$color: steelblue;
$color2: pink;
$color3: red;

.registration {
    padding-top: 50px;   
 }


.login-signup {
     width: 30%;
}
.btn {
    border-radius: 30px!important;
}
// .btn-test {
//     background-color: $color!important;
//     color:rgb(57, 50, 50)!important;
//   }

//   .btn-test2 {
//     background-color: $color!important;
//   }

  #round-form{
    border-radius: 30px;
  }