$color: #efe6d5;
$color2: #9dbeb7;
$color3: #e73213;

  .movie-poster img {
    width: 700px;
  }
:root {
  --bs-gutter-x: 0 !important;
  --bs-navbar-color: $color3!important
}

.movie-poster img {
  max-width: 450px;
}

.movie-view img {
  text-align: center;
}

.navbar {
  background-color: $color2;
}
.navbar a {
  color: black;
  text-decoration: none;
}

.navbar a:hover{
  color: rgb(88, 88, 88);
  text-decoration: none;
}

.navbar-brand {
  font-size: 30px!important;
}
